@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("boxicons/css/boxicons.min.css");


html, body, #root {
    margin: 0px 1px 0px 1px;
    height: 100%;
    overflow: hidden;
    /* width: 100%; */
    text-align: center;
    /* background-image: linear-gradient(lightblue, white); */
}

